/* The switch - the box around the slider */

.distraction-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


/* Hide default HTML checkbox */

.distraction-switch input {
  display: none;
}


/* The slider */

.slider {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #cc181e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #cc181e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.distraction-free-youtube {
  display: flex;
  border: 3px solid rgba(71, 71, 71, 0.55);
  padding: 4px;
  border-radius: 24px;
  margin: 5px;
  padding-left: 1em;
  color: #8e998e;
  font-weight: bold;
}

.distraction-free-youtube div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.distraction-free-youtube h2 {
  color: #4f4d4d;
  display: flex;
  align-items: center;
}

.distraction-free-youtube span {
  padding: 0 0.3em;
  color: #cc181e;
}

.distraction-free-youtube span:nth-child(2) {
  font-size: 0.5em;
}

.distraction-free-youtube p {
  margin: 3px;
  font-size: 0.8em;
  letter-spacing: 0.03rem;
}